.hrStyle {
  border: none;
  height: 1px;
  background-color: #000;
}

.textStyle {
  font-weight: bold;
  font-family: "微軟正黑體";
}

.contentStyle {
  font-family: "微軟正黑體";
}

.informationView {
  width: 100%;
  margin-top: 80px;
}

.imgView {
  width: 200px;
}

@media screen and (min-width: 1400px) {
  .contentView {
    width: 75%;
  }

  .textStyle {
    font-size: 28px;
  }

  .contentStyle {
    font-size: 18px;
  }
}

/* for screens between 1201px and 1400px */
@media screen and (min-width: 1201px) and (max-width: 1399px) {
  .contentView {
    width: 75%;
  }

  .textStyle {
    font-size: 28px;
  }

  .contentStyle {
    font-size: 18px;
  }
}

/* for screens between 993px and 1199px */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .contentView {
    width: 75%;
  }

  .textStyle {
    font-size: 28px;
  }

  .contentStyle {
    font-size: 18px;
  }
}

/* for screens between 769px and 992px */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .contentView {
    width: 75%;
  }

  .textStyle {
    font-size: 28px;
  }

  .contentStyle {
    font-size: 18px;
  }
}

/* for screens between 576px and 768px */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .contentView {
    width: 100%;
  }

  .textStyle {
    font-size: 18px;
  }

  .contentStyle {
    font-size: 12px;
  }
}

/* for screens smaller than 576px */
@media screen and (max-width: 575px) {
  .contentView {
    width: 100%;
  }

  .textStyle {
    font-size: 18px;
  }

  .contentStyle {
    font-size: 12px;
  }
}
